-i https://pypi.python.org/simple
greenlet==1.1.1 ; python_version >= '3' and platform_machine in 'x86_64 X86_64 aarch64 AARCH64 ppc64le PPC64LE amd64 AMD64 win32 WIN32'
grpcio-tools==1.39.0
grpcio==1.39.0
mysqlclient==2.0.3
protobuf==3.17.3
python-dotenv==0.19.0
six==1.16.0
sqlalchemy==1.4.23
